* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
}

header {
    
    color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2rem;
}

header img {
    max-width: 150px;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

section:hover {
    background-color: #aca9a925;
}
section h2 {
    font-size: 1.8rem;
    color: #4e4e4e;
    margin-bottom: 20px;
}

.resultado {
    font-size: 1.6rem;
    font-weight: bold;
    color: #8d0d04;

}

button {
    background-color: #8d0d04;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #360303;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

input[type="number"],
input[type="text"] {
    padding: 12px;
    width: 80%;
    max-width: 350px;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

p {
    margin-top: 15px;
    font-size: 1rem;
    color: #555;
}
